body {
  text-align: center;
  background-color: #fde2e2;
}

h1 {
  margin: 0 360px 20px 360px;
  padding: 15px;
  font-size: 56px;
  color: #ffffff;
  text-shadow: -2px 1px 0 #679b9b;
  background-color: #ffb6b6;
  border: 2px solid #679b9b;
  border-radius: 40px;
}

.returnTo {
  text-align: left;
}
.returnToLink {
  display: inline-block;
  padding: 5px 5px;
  color: #ffb6b6;
  background-color: #ffffff;
  font-size: 15px;
  font-weight: bolder;
  text-decoration: none;
  border: 2px solid #679b9b;
  border-radius: 40px;
}

.links {
  display: inline-block;
  margin: 20px 15px;
  transition: all 200ms ease-in-out;
  opacity: 2;
}

.links:hover {
  opacity: 0.5;
}

.recipePictures {
  width: 155px;
  border: 5px solid #679b9b;
  border-radius: 35px;
}

.codedby {
  color: #679b9b;
}
