body {
  text-align: center;
  background-color: white;
}

h1 {
  padding: 15px;
  font-size: 56px;
  color: #ffffff;
  text-shadow: -2px 1px 0 #679b9b;
  background-color: #ffb6b6;
  border: 2px solid #679b9b;
  border-radius: 40px;
}

.returnTo {
  text-align: left;
}
.returnToLink {
  display: inline-block;
  padding: 5px 5px;
  color: #ffb6b6;
  background-color: #ffffff;
  font-size: 15px;
  font-weight: bolder;
  text-decoration: none;
  border: 2px solid #679b9b;
  border-radius: 40px;
}

.returnToLink:hover {
  color: #ffb6b6;
  font-style: italic;
}

a {
  color: #864879;
  font-size: 20px;
  text-decoration: none;
}

a:hover {
  text-shadow: 1px 1px;
  color: #864879;
}

.tobedone {
  padding: 20px;
  color: #679b9b;
  font-weight: bolder;
  font-size: 25px;
  text-decoration: underline;
}
