body {
  text-align: center;
  background-color: #fde2e2;
}

h1 {
  margin: 20px 50px;
  padding: 15px;
  font-size: 56px;
  color: #ffffff;
  text-shadow: -2px 1px 0 #679b9b;
  background-color: #ffb6b6;
  border: 2px solid #679b9b;
  border-radius: 40px;
}

.yields {
  display: inline-block;
  margin: 5px 70px;
  padding: 13px 15px;
  color: #ffb6b6;
  background-color: #ffffff;
  font-size: 20px;
  font-weight: bolder;
  text-decoration: none;
  border: 2px solid #679b9b;
  border-radius: 40px;
}
