body {
  text-align: center;
}

h1 {
  text-align: center;
  margin: 50px;
  font-size: 50px;
  border: 1px solid;
  border-radius: 30px;
  margin: 20px 360px;
  padding: 15px;
}

.line1 {
  display: inline-block;
  padding: 25px 100px;
}

.line2 {
  display: inline-block;
  padding: 25px 100px;
}

.image {
  width: 125px;
}

a {
  all 200ms ease-in-out;;
  opacity: 2;
}

a:hover {
  opacity: 0.5;
}
