body {
  text-align: center;
  background-color: #fde2e2;
}

h1 {
  margin: 20px;
  font-size: 56px;
  color: #ffffff;
  text-shadow: -2px 1px 0 #679b9b;
  background-color: #ffb6b6;
  border: 2px solid #679b9b;
  border-radius: 40px;
}

.links {
  display: inline-block;
  margin: 25px 0;
  padding: 25px 50px;
  background-color: #ffffff;
  border: 2px solid #679b9b;
  border-radius: 40px;
  transition: all 200ms ease-in-out;
  opacity: 2;
}
.links:hover {
  opacity: 0.5;
}

.icons {
  font-size: 60px;
  color: #679b9b;
}
.codedby {
  color: #679b9b;
}

.codedbylink {
  text-decoration: none;
  font-style: italic;
}
.codedbylink:hover {
  font-weight: 800;
  color: #679b9b;
}
